<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="debug"
      internalLogFile="c:/temp/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />

  </extensions>
  <!--<variable name="kafka_taget" value="10.0.20.210:9092"/>-->
  <!-- the targets to write to -->
  <targets>
    <!--<target xsi:type="Console" name="console"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />-->

    <target xsi:type="File" name="file" fileName="C:/Logs/HRMv2/Reporting/${shortdate}/nlogdata.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <!--<target name="kafka-request-time-stack" xsi:type="KafkaTarget" topic="cinta-request_time_stack-test02" brokers="172.16.0.73:9092"/>-->
    <!--<target xsi:type="KafkaAppender"
            name="logging_error"
            topic="arm_backend_exception_logger"
            debug="false"
            async="true"
            lingerMs="6000">
      <layout type='JsonLayout'>
        <attribute name='id' layout='${guid}' />
        <attribute name='application_id' layout='${app_id}' />
        <attribute name='application_name' layout='${app_name}' />
        <attribute name='user' layout='${aspnet-user-identity}' />
        <attribute name='created_date' layout='${longdate}' />
        <attribute name='created_time_span' layout='${ticks} ' />
        <attribute name='time_span' layout='${time_span}' />
        <attribute name='level' layout='${level:upperCase=true}'/>
        <attribute name='request_referrer' layout='${aspnet-request-referrer}'/>
        <attribute name='request_url' layout='${aspnet-request-url}'/>
        <attribute name='request_method' layout='${aspnet-request-method}'/>
        <attribute name='classname' layout='${callsite}'/>
        <attribute name='logger_class' layout='${logger}'/>
        <attribute name='trace_id' layout='${aspnet-traceidentifier}'/>
        <attribute name='ip_address' layout='${ip_client}'/>
        <attribute name='exception_type' layout='${exception:format=Type}' />
        <attribute name='message' layout='${messages_info}' />
        <attribute name='params_info' layout='${params_info}' />
        <attribute name='exception_data' layout='${exception:format=Data}' />
        <attribute name='request_posted_body' layout='${aspnet-request-posted-body}' />
        <attribute name='request_querystring' layout='${aspnet-request-querystring}' />
        <attribute name='exception' layout='${exception:format=tostring,Data:maxInnerExceptionLevel=10}' />
        <attribute name='user_agent' layout='${aspnet-request-useragent} ' />
        <attribute name='request' layout='${aspnet-request:serverVariable=HTTP_URL}${aspnet-request:queryString}' />
        <attribute name='response-statuscode' layout='${aspnet-response-statuscode}' />
        <attribute name='environment' layout='${aspnet-environment} ' />
        <attribute name='hostname' layout='${hostname}' />
      </layout>
    </target>
    <target xsi:type="KafkaAppender"
            name="logging_context"
            topic="arm_backend_context_logger"
            debug="false"
            async="true"
            lingerMs="6000">
      <layout type='JsonLayout'>
        <attribute name='id' layout='${guid}' />
        <attribute name='application_id' layout='${app_id}' />
        <attribute name='application_name' layout='${app_name}' />
        <attribute name='user' layout='${aspnet-user-identity}' />
        <attribute name='ip_client' layout='${ip_client}'/>
        <attribute name='created_date' layout='${longdate}' />
        <attribute name='created_time_span' layout='${ticks} '/>
        <attribute name='time_span' layout='${time_span}' />
        <attribute name='level' layout='${level:upperCase=true}'/>
        <attribute name='logger_class' layout='${logger}'/>
        <attribute name='classname' layout='${callsite}'/>
		<attribute name='message' layout='${messages_info}' />
        <attribute name='hostname' layout='${hostname}' />
        <attribute name='request_referrer' layout='${aspnet-request-referrer}'/>
        <attribute name='request_url' layout='${aspnet-request-url}'/>
        <attribute name='request_method' layout='${aspnet-request-method}'/>
        <attribute name='request_contenttype' layout='${aspnet-request-contenttype}'/>
        <attribute name='request_querystring' layout='${aspnet-request-querystring}'/>
        <attribute name='request_posted_body' layout='${aspnet-request-posted-body}' />
        <attribute name='user_agent' layout='${aspnet-request-useragent} ' />
        <attribute name='request' layout='${aspnet-request:serverVariable=HTTP_URL}${aspnet-request:queryString}' />
        <attribute name='response-statuscode' layout='${aspnet-response-statuscode}' />
        <attribute name='execution_time_in_milliseconds' layout='${message}' />
      </layout>
    </target>
    <target xsi:type="KafkaAppender"
            name="logging_info"
            topic="arm_backend_information_logger"
            debug="false"
            async="true"
            lingerMs="6000">
      <layout type='JsonLayout'>
        <attribute name='id' layout='${guid}' />
        <attribute name='application_id' layout='${app_id}' />
        <attribute name='application_name' layout='${app_name}' />
        <attribute name='user' layout='${aspnet-user-identity}' />
        <attribute name='ip_address' layout='${ip_client}'/>
        <attribute name='created_date' layout='${longdate}' />
        <attribute name='created_time_span' layout='${ticks} ' />
        <attribute name='time_span' layout='${time_span}'/>
        <attribute name='level' layout='${level:upperCase=true}'/>
        <attribute name='logger_class' layout='${logger}'/>
        <attribute name='classname' layout='${callsite}'/>
        <attribute name='message' layout='${messages_info}' />
        <attribute name='params_info' layout='${params_info}' />
        <attribute name='hostname' layout='${hostname}' />
      </layout>
    </target>
    <target xsi:type="Null" name="blackHole" />-->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="file" />
  </rules>
</nlog>
